*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width: 100vw;
    height:100vh;
    background-image: url('/images/gradient-bg.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.game-info{
    color:white;
    position: absolute;
    top:3rem;
    left:50%;
    transform: translateX(-50%);
    
}