*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344151;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container div:first-child{
    color:#0398d4;
    font-size: medium;
    font-size: 20px;
}

.displayButtons{
    display: flex;
    /* height:;
    width: ; */
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 25px;
    color:#344151;
    border-radius:0.125rem;
    gap: 48px;
    padding: 0.75rem; 
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
} 

/* .displayButtons{
} */

.displayButtons button:first-child{
    padding-right: 1.25rem; 
    background-color: transparent;
    border:none;
    cursor: pointer;
    border-right: 2px solid #bfbfbf;
    height: 20px;
}

.displayButtons button:last-child{
    padding-left: 1.25rem;
    cursor: pointer;
    border:none;
    background-color: transparent;
    border-left: 2px solid #bfbfbf;
    height: 20px;
}

.displayButtons div{
    font-weight: bold;
}